---
- hosts: all

  tasks:
    - name: ensure nginx is at the latest version
      become: yes
      apt:
        name: nginx
        state: latest
        update_cache: yes
    - name: start nginx
      become: yes
      service:
        name: nginx
        state: started


  #
  # A successful PR!
  #
  tasks:
    - name: Allow 'sudo' group to have passwordless sudo
      lineinfile:
        dest: /etc/sudoers
        state: present
        regexp: '^%sudo'
        line: '%sudo ALL=(ALL) NOPASSWD: ALL'
        validate: 'visudo -cf %s'

    - name: install an ops user
      user:
        name: ops
        shell: /bin/bash
        comment: Ops Shared account
        groups: root,sudo
        append: true

    - name: Set authorized key for Ops
      authorized_key:
        user: ops
        state: present
        key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCxAVkrfknXoHFQtyXtYZ6vONLHn7HTKQq4mkwvCOPMKb3gr6gsLQkCdzmO3CQwOcFl7uDWGdfjH/ocuSUSn6xMvfCdsdGzDiLQXcDJ4jGOuuyOioniN1N00IhAD7Tqsf4AvbQJ7gDqfPKDCw6LdlZ0d0d9pWlJf7eKf/Hq3x8RCqWek/+UCoU4l4T1eAM0N/bA5tj3EfvRuDniO8U5ClsuUbtJ1uxJmrWMhFox3jFp6oNrleHWFTiRsNKfbtfTrTJRYlqcOG2jGAb49JY+p6Ykku4vq0ezYZFYXGJki6a0yLu1kMg5aHJo9UX0d9JW6y11KfXbGKN4okeRcH/tSNov jasghar@remasghar01.local"

  #
  # I'm a bad actor
  #
  # tasks:
  #   - name: stop nginx
  #     become: yes
  #     service:
  #         name: nginx
  #         state: stopped
  #   - name: remove nginx
  #     become: yes
  #     apt:
  #       pkg: nginx
  #       state: absent
  #   - name: ensure apache2 is at the latest version
  #     become: yes
  #     apt:
  #       name: apache2
  #       state: latest
  #       update_cache: yes
  #   - name: start apache2
  #     become: yes
  #     service:
  #         name: apache2
  #         state: started
